@font-face {
    font-family: Vazir;
    src: url(../../fonts/Vazir-FD-WOL.ttf);
    font-style: normal;
}

@font-face {
    font-family: Vazir_Thin;
    src: url(../../fonts/Vazir-Thin-FD-WOL.ttf);
    font-style: normal;
}

@font-face {
    font-family: Vazir_Bold;
    src: url(../../fonts/Vazir-Bold-FD-WOL.ttf);
    font-style: normal;
}

@font-face {
    font-family: Vazir_Medium;
    src: url(../../fonts/Vazir-Medium-FD-WOL.ttf);
    font-style: normal;
}