@use "../abstracts/variables"as*;
@use "../abstracts/typography"as*;

.header {
    background-color: $color-white;
    padding: 1.6rem 0.8rem;
    border-radius: $default-border-radius;
    margin: 2.4rem;

    display: flex;
}