    @use "../../abstracts/variables"as *;

    .action-box {
        display: flex;
        gap: 1rem;
    }

    .action-card {
        background-color: $color-gray-50;
        padding: 1.2rem 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: $default-border-radius;

        &__text-box {
            display: flex;
            flex-direction: column;
        }

        &__text {
            font-size: $font-size-1-4;
            font-family: $font-family-BOLD;
            font-weight: 800;
            color: $color-gray;
        }

        &__sub {
            font-size: $font-size-1-2;
            font-family: $font-family-THIN;
            font-weight: 400;
            color: $color-gray;
            width: 80%;
        }
    }