@use "../../abstracts/variables"as*;

.enamad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    border-radius: 16px;
    padding: 0.8rem 2.4rem;

    &__text {
        width: 90%;
        font-size: $font-size-1-2;
        font-family: $font-family-MEDIUM;
        font-weight: 400;
        color: $color-gray;
    }
}