@use "../../abstracts/variables"as*;
@use "../../abstracts/mixins"as*;

.logo-vertical {
    flex: 0 0 20%;

    @include flex-column;
    align-items: center;
    padding: 2rem;

    &__text-box {
        @include flex-column;
        margin-right: 0.8rem;
    }

    &__text-1 {
        font-family: $default-font-family;
        font-size: $default-font-size;
        color: $color-gray;
    }

    &__text-2 {
        font-family: $font-family-BOLD;
        font-size: $default-font-size;
        color: $color-gray;
    }
}