@use "../../abstracts/variables"as*;
@use "../../abstracts/mixins"as*;

.support-links {
    &__label {
        width: 100%;
        font-size: $font-size-1-4;
        font-family: $font-family-BOLD;
        color: $color-gray;
    }

    &__lists {
        border-top: 1px solid $color-gray-200;
        margin-top: 1.5rem;
    }

    &__lists a {
        text-decoration: none;
        list-style: none;
    }

    &__list {
        display: flex;
        gap: 2rem;
        font-family: $default-font-family;
        font-size: $font-size-1-2;
        padding: 0.8rem 0.4rem;
        color: $color-gray;

        &-icon {
            @include flex-center;
            background-color: $color-white;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            fill: $color-gray;
            stroke: $color-gray;
        }

        &-text-box {
            @include flex-column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;
        }

        &-title {
            font-size: $font-size-1-2;
            font-family: $default-font-family;
        }

        &-sub {
            direction: ltr;
            font-size: $font-size-1-4;
            font-family: $font-family-BOLD;
        }
    }
}