@use "../../abstracts/variables"as *;
@use "../../abstracts/mixins"as *;

.logo-horizontal {
    display: flex;
    align-items: center;

    &__svg svg {
        width: 100%;
    }

    &__text-box {
        @include flex-column;
        margin-right: .8rem;
    }

    &__text-1 {
        font-family: $default-font-family;
        font-size: $default-font-size;
        color: $color-gray;
    }

    &__text-2 {
        font-family: $font-family-BOLD;
        font-size: $default-font-size;
        color: $color-gray;

    }
}