@use "../../abstracts/variables"as *;

.accordion {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
    }

    &__title {
        font-size: $font-size-1-4;
        font-family: $font-family-BOLD;
        color: $color-gray;

    }

    &__arrow svg {
        height: 1.6rem;
        transition: transform .3s ease;
        fill: $color-gray;
        stroke: $color-gray;
    }

    &[open] &__arrow svg {
        transform: rotate(180deg);
    }
}