@use "../../abstracts/variables"as*;
@use "../../abstracts/mixins"as*;

.captcha {
    @include flex-between;

    &__box {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 2.4rem;

        &-img {}

        &-refresh svg {}
    }
}